<div class="card border-0 shadow-sm mb-4">
  <div class="card-body">
    <h1 class="card-title">Edit Account</h1>
    <%= form_for(@user, url: user_path, method: :patch) do |form| %>
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>